@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="font-family:'Comic Sans MS'">BIEN<a style="color:#ff0000">VENIDO</a></h1>
        <div class="container">

            <img src="~/Images/LOGO.PNG" />
        </div>
    </div>
